<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>i18n 테스트</h1>

    <p th:text="#{product}"></p>
    <p th:text="#{product.category}"></p>
	
	<button onclick="changeLanguage('ko')">한국어</button>
	<button onclick="changeLanguage('en')">English</button>
		
	<script>
	    function changeLanguage(lang) {
	        const url = new URL(window.location.href);
	        url.searchParams.set('lang', lang);
	        window.location.href = url.toString();
	    }
	</script>
</body>
</html>