<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.bible.review.repository.IReviewRepository">

    <resultMap type="com.library.bible.review.model.Review" id="reviewMap">
        <result column="review_id"      property="reviewId" />
        <result column="review_star"    property="reviewStar" />
        <result column="review_comment" property="reviewComment" />
        <result column="book_id"        property="bookId" />
        <result column="mem_id"         property="memId" />
        <result column="mem_name"     property="memName" /> 
        <result column="created_at"     property="createdAt" /> 
        
    </resultMap>
  
	<select id="getReview" resultMap="reviewMap">
	    SELECT review_id, review_star, review_comment, book_id, mem_id, created_at
	    FROM review
	    ORDER BY review_id DESC
	</select>
	
    <!-- 특정 책의 리뷰 조회 -->
    <select id="getBookReview" resultMap="reviewMap">
        SELECT 
            r.review_id, 
            r.review_star, 
            r.review_comment, 
            r.book_id, 
            r.mem_id, 
            m.mem_name,
            r.created_at
        FROM review r
        LEFT JOIN member m ON r.mem_id = m.mem_id
        WHERE r.book_id = #{bookId}
        ORDER BY r.review_id DESC
    </select>


	<insert id="insertReview" parameterType="com.library.bible.review.model.Review">
	    INSERT INTO REVIEW (review_star, review_comment, book_id, mem_id)
	    VALUES (#{reviewStar}, #{reviewComment}, #{bookId}, #{memId})
	</insert>
	
	<delete id="deleteReview" parameterType="com.library.bible.review.model.Review">
	    DELETE FROM REVIEW 
	    WHERE review_id = #{reviewId} AND mem_id = #{memId}
	</delete>

	<delete id="deleteAdminReview" parameterType="com.library.bible.review.model.Review">
	    DELETE FROM REVIEW 
	    WHERE review_id = #{reviewId}
	</delete>
	


</mapper>
