<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.bible.rent.repository.IRentRepository">
	
	<!-- ResultMap 정의 -->
	<resultMap id="rentMap" type="Rent">
		<id property="rentId" column="rent_id"/>
		<result property="bookId" column="book_id"/>
		<result property="memId" column="mem_id"/>
		<result property="rentDueDate" column="rent_due_date"/>
		<result property="rentFinishDate" column="rent_finish_date"/>
		<result property="rentStatus" column="rent_status"/>
		<result property="rentDate" column="rent_date"/>
	</resultMap>
	
	<!-- 모든 대여 조회 -->
	<select id="selectAllRent" resultMap="rentMap">
		SELECT
			rent_id,
			book_id,
			mem_id,
			rent_due_date,
			rent_finish_date,
			rent_status,
			rent_date
		FROM rent
	</select>
	
	<!-- 특정 대여 조회 -->
	<select id="selectRent" resultMap="rentMap">
		SELECT
			rent_id,
			book_id,
			mem_id,
			rent_due_date,
			rent_finish_date,
			rent_status,
			rent_date
		FROM rent
		WHERE rent_id = #{rentId}
	</select>
	
	<!-- 대여 추가 -->
	<insert id="insertRent" parameterType="Rent" useGeneratedKeys="true" keyProperty="rentId" keyColumn="rent_id">
	    INSERT INTO rent 
	        (book_id, mem_id, rent_due_date, rent_finish_date, rent_status, rent_date)
	    VALUES 
	        (#{bookId}, #{rentHistoryId}, SYSDATE+7 #{rentFinishDate}, #{rentStatus}, #{rentDate})
	</insert>

	<!-- 여러 개의 대여를 한 번에 추가 -->	
	<insert id="insertRents" parameterType="list" >
	    INSERT INTO rent (book_id, rent_history_id, rent_due_date, rent_finish_date, rent_status)
        <foreach collection="list" item="rent" separator="UNION ALL">
            SELECT #{rent.bookId}, #{rent.rentHistoryId}, SYSDATE + 7, #{rent.rentFinishDate}, #{rent.rentStatus} 
            FROM DUAL
        </foreach>
	</insert>
	
	<!-- 대여 수정 -->
	<update id="updateRent" parameterType="Rent">
		UPDATE rent
		SET
			book_id = #{bookId},
			mem_id = #{memId},
			rent_due_date = #{rentDueDate},
			rent_finish_date = #{rentFinishDate},
			rent_status = #{rentStatus},
			rent_date = #{rentDate}
		WHERE rent_id = #{rentId}
	</update>
	
	<!-- 대여 삭제 -->
	<delete id="deleteRent">
		DELETE FROM rent WHERE rent_id = #{rentId}
	</delete>
	
	<!-- Rent History ID로 rent 삭제 -->
	<delete id="deleteRentByRentHistoryId">
		DELETE FROM rent WHERE rent_history_id = #{rentHistoryId}
	</delete>

</mapper>