.cart-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .cart-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    position: relative;
  }
  
  .item-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .item-content {
    display: flex;
    flex: 1;
    margin-left: 25px;
  }
  
  .item-image {
    width: 80px;
    height: 120px;
    margin-right: 15px;
  }
  
  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .item-details h3 {
    margin: 0 0 3px 0;
    font-size: 16px;
    color: #333;
  }
  
  .author {
    font-size: 12px;
    color: #666;
    margin-bottom: 3px;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .quantity-control input {
    width: 30px;
    text-align: center;
    margin: 0 3px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 3px;
  }
  
  .quantity-control button {
    background-color: #fff;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
    font-size: 14px;
    padding-top: 3px;
  }
  
  .total-price {
    font-weight: bold;
    color: #4caf50;
    font-size: 14px;
  }
  
  .delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    align-self: flex-end;
  }
  
  .cart-summary {
    padding: 15px;
    border-radius: 8px;
    text-align: right;
  }

  .cart-parent-btn-layout{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 1px;
    padding: 10px;
  }

  .cart-parent-btn-layout router-link,
  .checkout-btn,
  .rentAllBtn {
      flex: 1;
  }
  
  .checkout-btn, .rentAllBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  @media (max-width: 600px) {
    .cart-item {
      padding: 8px;
    }
  
    .item-content {
      flex-direction: row;
      margin-left: 0;
    }
  
    .item-image {
      width: 40%;
      height: auto;
    }
  
    .item-details {
      width: 60%;
      padding-left: 10px;
    }
  
    .item-checkbox {
      position: static;
      margin-bottom: 5px;
    }
  }